DATABASE_URL=postgres://taskly:CHANGE_ME@postgres:5432/taskly
PORT=5000
AUTH_SERVER_URL=http://auth-server:3001
KAFKA_BROKER=kafka:9092
AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME
AWS_REGION=CHANGE_ME
AWS_BUCKET_NAME=CHANGE_ME
